.cabecera{
  background-color: lavender;
}
.cabecera h1{
  display: inline-flex;
  position: relative;
  bottom: 75px;
}
.cabecera h3{
  display: inline-flex;
  position: relative;
  bottom: 30px;
  right: 360px;
}
.cabecera img{
  display: inline-block;
  position: relative;
  top: 15px;
  width: 150px;
  border-radius: 150px;
}
.navegador{
  background-color: rgb(247, 215, 22);
}
.principal{
  background-color:rgb(242, 76, 76)  ;
}
.principal h2{
  display: inline-flex;
  position: relative;
  left: 850px;
}
.principal img{
  display: inline-flex;
  position: relative;
  width: 600px;
}
.nota1 h3{
  display: inline-block;
  position: relative;
  bottom: 25px;
}
.nota1 img{
  display: inline-block;
  position: relative;
  bottom: 25px;
  width: 750px;

}
.nota2 img{
  width: 600px;
}
.noticias{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nota1,.nota2{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 40%;
}
.nota1 h3,.nota2 h3{
  text-align: center;
  flex-basis: 100%;
}
